include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include spokes_tekpro_app *.css
recursive-include spokes_tekpro_app *.csv
recursive-include spokes_tekpro_app *.html
recursive-include spokes_tekpro_app *.ico
recursive-include spokes_tekpro_app *.js
recursive-include spokes_tekpro_app *.json
recursive-include spokes_tekpro_app *.md
recursive-include spokes_tekpro_app *.png
recursive-include spokes_tekpro_app *.py
recursive-include spokes_tekpro_app *.svg
recursive-include spokes_tekpro_app *.txt
recursive-exclude spokes_tekpro_app *.pyc